html {}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

body {
	
	display: block;
	position: relative;
	background-color: #18314c;
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans Condensed", serif;
	height: 100%;
	line-height: 1.6em;
		
}

	#wrapper {
		
		display: block;
		position: fixed;
		left: 0;
		right: 0;
		top: 50px;
		bottom: 0;
		max-height: 674px;
		background-color: #ffffff;
		box-shadow: 0px 0px 3em 0 rgb(126,126,126) inset;
		
	}

	#background {
		
		display: block;
		position: absolute;
		left: 0px;
		top: 0px;
		bottom: 0px;
    padding:3em;
	}
	
		#qr {
		margin-left:auto;
		margin-right:auto;
		      width:150px;
		      display:block;
		}
		

@media (max-height: 600px) {
  #qr {
    display: none;
   }
}

	#container {
		
		display: block;
    position: relative;
    padding-top:3%;
    padding-left:1%;
    padding-right:1%;
		margin: 0px auto 20px;		
		
		font-size: 1em;
		
		max-width: 450px;
/*		min-width: 300px;*/
		
		
		
	}
			
		#container h1 {
		  line-height:1em;
			font-size: 3em;
			color: rgb(56,115,178);
			font-weight: normal;
			font-family: "Open Sans Condensed", serif;
			text-align: center;
			text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
			z-index: 120;
			margin: 0px 0px 0.5em;
			
		}

		#content {
			
			display: block;
			position: relative;
						
			background-color: rgba(244,244,244,0.2);
			padding: 1.5em 2em 1.5em;
			margin: 0px;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-o-border-radius: 3px;
			border-radius: 3px;
			
			-webkit-box-shadow: 0px 0px 40px 0 rgba(127,127,127, 0.4);
			-moz-box-shadow: 0px 0px 40px 0 rgba(127,127,127, 0.4);
			-o-box-shadow: 0px 0px 40px 0 rgba(127,127,127, 0.4);
			box-shadow: 0px 0px 40px 0px rgba(127,127,127, 0.4);
			z-index: 50;
			line-height: 1em;
			

		}
		
			#content ul {
			  padding-left:0.3em;
				margin: 0.3em 0px;
				
			}
								
			#content li {
				
				list-style-type: none;
				font-size: 1.2em;
				color: #655;
				line-height: 1.2em;
				text-shadow: 0px 0px 4px rgba(255,255,255,0.3);
				margin: 0;
				
				
			}
			
			#content p {

				font-size: 1.2em;
				color: #655;
				line-height: 1.6em;
				margin: 0.6em 0px;
				text-shadow: 0px 0px 4px rgba(255,255,255,0.3);

			}

			#content small {
				
				font-size: .75em;
				color: #877;
				
			}
			
			#content a {
				
				display: inline-block;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				color: rgb(56,115,178);
				line-height: 1.4em;
				text-decoration: none;
				
			}
			
			#content p a:hover,
			#content li a:hover {
				
				text-shadow: 0px 0px 3px rgba(255,255,255,1);
				color: #b60f2a;
				
			}

	#footer {
		
		display: block;
		position: fixed;

		left: 0px;
		right: 0px;
		bottom: 0px;
		background-color: transparent;
		color: #fff;

		margin: 0px;
		padding: 10px;

		text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
		
	}
	
		#footer p {
			
			margin: 0px;
			padding: 0px;
			font-size: .7em;
			line-height: 1.2em;
			text-align: center;
			
		}
		
			#footer p a {
				
				color: rgb(56,115,178);
				text-decoration: none;
				text-shadow: 0px 0px 3px rgba(255,255,255,1);
				
			}
			
::-moz-selection { background: rgb(56,115,178); color: #fff; text-shadow: none; }
::selection { background: rgb(56,115,178); color: #fff; text-shadow: none; }
